<!-- Header -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <button (click)="cambiarMoneda()" class="btn btn-success">Actual: {{ format }} / "Cambiar"</button>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- Fin del header -->
<a routerLink="/user-register">Registrarse</a><br>
<a routerLink="/frg">Form Reactive Control Group</a><br>
<a routerLink="/car"></a>
<div>
  <label for="compra">Informacion de compra: </label>
  <input type="text" id="compra" [(ngModel)]="compra">
</div>

<!-- Enlace para ir a Premium -->
<hr>
<a routerLink="/premium" class="btn btn-primary">Ir a Premium</a>
<hr>
<!-- Usuario Logueado -->
<h1>Usuario Logueado: {{ usuarioLogueado.usuario.nombre }}</h1>
<h1>Productos a la venta</h1>
<div class="container">
  <div class="row">
    <div class="card col-4" *ngFor="let producto of productos">
      <img [src]="producto.imagen" class="card-img-top" alt="..." style="height: 275px;">
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre | titlecase }}</h5>
        <p class="card-text">{{ producto.descripcion }}</p>
        <h4 *ngIf="monedaDolar">Precio: {{ producto.precio | currency: format }}</h4>
        <h4 *ngIf="!monedaDolar">Precio: {{ producto.precio*0.91 | currency: format }} Bs</h4>
        <!-- <h4 *ngIf="!monedaDolar">Precio: {{ producto.precio*25.124 }} Bs</h4> -->
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>


<hr><hr>

<app-carrito-compra [datoCompra]="compra" (cambiarDatoDeCompra)="compra = $event"></app-carrito-compra>

<!-- aws toolkit -->
